#mouse-gradient {
    height: 100%;
    width: 100%;

    background-image: radial-gradient(
        circle farthest-side at var(--x, 20px) var(--y, 20px),
        var(--mouse-gradient-color) 0%,
        transparent 10% 
    );

    position: fixed;
    display: flex;

    top: 0px;
    left: 0px;
    margin: 0px;

    z-index: 99;
    pointer-events: none;
}

.block {
    display: block;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

a:hover {
    color: var(--selection-color);
    cursor: pointer;
}