.project-box {
    width: 100%;
    max-width: 100%;
    /* aspect-ratio: 2; */

    border-radius: 3% 3% 3% 3%;
    /* background-color: red; */

    display: grid;
    padding: 1.5%;

    /* grid-template-rows: minmax(5%, auto) minmax(75%, auto) minmax(5%, auto); */

    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 25% 75%;
    user-select: none;
    transition: opacity 0.25s ease;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.project-box:hover {
    background-color: var(--project-hover);
    cursor: pointer;
}

.project-item {
    display: flexbox;
    align-items: center;
}

/* .project-item:nth-child(n) {
    background-color: teal;
}

.project-item:nth-child(2n) {
    background-color: black;
}

.project-item:nth-child(3n) {
    background-color: black;
}

.project-item:nth-child(4n) {
    background-color: teal;
} */

.project-date {
    padding-left: 2%;
    text-align: left;
    line-height: 3.45vh;

    /* background-color: black; */
}

.project-title {
    font-weight: bold;
    color: var(--secondary-white);

    padding-left: 2.5%;
    text-align: left;
    
    max-height: 15%;
    /* background-color: blue; */
}

.project-desc {
    padding: 2.5%;
    text-align: left;
    font-size: 1.5rem;

    /* background-color: green; */
    display: flexbox;
}

.project-technologies {
    /* background-color: black; */
    padding-left: 2.5%;
    display: inline-block;
    height: 100%;
}

.technology {
    border-radius: 20px 20px 20px 20px;
    background-color: var(--technology-bg-color);

    display: inline-grid;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;

    color: var(--technology-text-color);
}
 
.open-in-new {
    width: 35px;
    aspect-ratio: 1;
    
    position: absolute;
    right: 0px;

    user-select: none;
    padding-right: 10px;
    /* background-color: red; */
}