#sections-div {
    line-height: 2rem;

    text-align: left;

    /* background-color: black; */
}

.open-section-title {
    color: rgb(218, 216, 229) !important;
    transition: all 0.2s ease !important;
}

.open-section-barrier {
    width: 50px !important;
    background-color: rgb(218, 216, 229) !important;
    transition: all 0.2s ease !important;
}

.section-barrier {
    margin-bottom: 4px;
    height: 2px;
    
    display: inline-block;

    width: 35px;
    background-color: var(--faded-white-2);
    transition: all 0.2s ease;
}

.section-title {
    font-size: small;
    font-weight: bolder;

    display: inline-block;

    color: var(--faded-white-2);
    transition: all 0.2s ease;
}

.section-title-parent {
    max-width: 30%;
    transition: all 0.25s ease;
}

#icons-row {
    position: absolute;
    width: 100%;
    /* background-color: white; */
}

ul {
    background-color: blue;
    list-style-type: none;
    padding: 0;
}

li {
    float: left;
    /* background-color: yellow; */
    display: inline;
    aspect-ratio: 1;
}

li > a > img {
    /* background-color: red; */
    aspect-ratio: 1;
    height: 2.5rem;
}

/* #section-ABOUT:hover {
    background-color: yellow;
} */