html, body {
    margin: 0;
    height: 100%;
    width: 100%;

    background-color: #041836;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    line-height: 1.25;
}

a {
    text-decoration: none;
    color: rgb(231, 230, 241);
}

a:hover {
    color: rgb(186, 186, 209);
}

#mouse-gradient {
    height: 100%;
    width: 100%;

    background-image: radial-gradient(
        circle farthest-side at var(--x, 20px) var(--y, 20px),
        #0c56ce3b 0%,
        transparent 10% 
    );

    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    margin: 0px;
    z-index: 99;
    pointer-events: none;
}

.size1 {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(231, 230, 241);
}

.size2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(218, 216, 229);
}

.size3 {
    font-size: 15px;
    font-weight: normal;
    color: rgba(223, 222, 234, 0.712);
}

.size4 {
    font-size: 13px;
    font-weight: bold;
    color: rgba(223, 222, 234, 0.545);
    user-select: none;
}

#title-div {
    position: absolute;
    width: 35%;
    height: 50%;

    left: 15%;
    top: 12.5%;

    /* background-color: blue; */
    user-select: none;
}

#main-div {
    position: absolute;
    width: 35%;
    height: auto;

    left: 50%;
    top: 12.5%;

    line-height: 1.6;

    /* background-color: red; */
}

.project-box {
    width: 100%;
    /* aspect-ratio: 2; */

    border-radius: 2% 2% 2% 2%;
    background-color: transparent;

    display: grid;

    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 25% 75%;
}

.project-box:hover {
    background-color: #1f478729;
}

.project-item {
    display: inline-grid;
}

.project-date {
    /* position: inherit;
    width: 100%;
    height: 100%;*/

    background-color: black; 

    text-align: center;
    line-height: 4vh;
}

.project-title {
    font-size: 2.35vh;
    font-weight: bold;
    color: rgb(218, 216, 229);

    padding-left: 2%;
    text-align: left;
    line-height: 2em;
    
    background-color: blue;
}

.project-desc {
    padding-left: 2%;
    text-align: left;
    font-size: 2vh;

    background-color: green;
}

.project-technologies {
    background-color: yellow;
}

::selection {
    background:  rgb(186, 186, 209);
    color: white;
}

::-moz-selection {
    background:  rgb(186, 186, 209);
    color: white;
}