html, body {
    margin: 0;
    height: 100%;
    width: 100%;

    background-color: #041836;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    scroll-behavior: smooth;
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: rgb(231, 230, 241);
}

a:hover {
    color: rgb(186, 186, 209);
    cursor: pointer;
}

#mouse-gradient {
    height: 100%;
    width: 100%;

    background-image: radial-gradient(
        circle farthest-side at var(--x, 20px) var(--y, 20px),
        #0c56ce3b 0%,
        transparent 10% 
    );

    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    margin: 0px;
    z-index: 99;
    pointer-events: none;
}

.size1 {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(231, 230, 241);
}

.size2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(218, 216, 229);
}

.size3 {
    font-size: 15px;
    font-weight: normal;
    color: rgba(223, 222, 234, 0.712);
}

.size4 {
    font-size: 12px;
    font-weight: bold;
    color: rgba(223, 222, 234, 0.492);
    user-select: none;
}

#title-div {
    position: fixed;
    width: 35%;
    height: 25%;

    left: 15%;
    top: 12.5%;

    /* background-color: blue; */
}

#main-div {
    position: absolute;
    width: 35%;
    height: auto;

    left: 50%;
    top: 12.5%;

    line-height: 1.6;

    /* background-color: red; */
}

#sections-div {
    position: fixed;
    width: 35%;
    height: 50%;

    left: 15%;
    top: 45%;

    background-color: black;
}

.open-section-title {
    color: rgb(218, 216, 229);
}

.closed-section-title {
    color: rgba(223, 222, 234, 0.492);
}

.open-section-barrier {
    width: 50px;
    background-color: rgb(218, 216, 229);
}

.closed-section-barrier {
    width: 35px;
    background-color: rgba(223, 222, 234, 0.492);
}

.section-barrier {
    margin-bottom: 4px;
    height: 2px;
    
    display: inline-block;
}

.section-title {
    font-size: small;
    font-weight: bolder;

    display: inline-block;
}

.section-title-parent {
    max-width: 30%;
    transition: all 0.25s ease;
}

/* #section-ABOUT:hover {
    background-color: yellow;
} */

.project-box {
    width: 100%;
    /* aspect-ratio: 2; */

    border-radius: 2% 2% 2% 2%;
    background-color: transparent;

    display: grid;
    padding: 2.5%;

    /* grid-template-rows: 20% 70% 10%; */
    grid-template-columns: 25% 75%;
    user-select: none;
}

.project-box:hover {
    background-color: #1f478729;
    cursor: pointer;
}

.project-item {
    display: inline-grid;
}

.project-date {
    padding-left: 2%;
    text-align: left;
    line-height: 3.45vh;
}

.project-title {
    font-size: 2.35vh;
    font-weight: bold;
    color: rgb(218, 216, 229);

    padding-left: 2.5%;
    text-align: left;
    line-height: 3.5vh;
    
    /* background-color: blue; */
}

.project-desc {
    padding-left: 2.5%;
    text-align: left;
    font-size: 2vh;

    /* background-color: green; */
    display: flexbox;
}

.project-technologies {
    /* background-color: black; */
    padding-left: 2.5%;
    display: inline-block;
    height: 100%;
}

.technology {
    border-radius: 20px 20px 20px 20px;
    background-color: #364761b0; /* 1f47874d */
    /* min-width: 4vw; */
    display: inline-grid;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;

    color: rgba(188, 182, 209, 0.934);
}

.barrier {
    width: 100%;
    height: 1px;
    background-color: rgba(212, 210, 224, 0.362);
}

::selection {
    background:  rgb(186, 186, 209);
    color: white;
}

::-moz-selection {
    background:  rgb(186, 186, 209);
    color: white;
}